/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Atharva-Tikhe/picnac Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      = null
    
    batch_metadata = "${projectDir}/assets/batch_records.csv"

    pipeline_id = null

    sample_ids = null

    outdir                       = '/home/atharva/dev/pipeline/executions/'
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    dnacopy_env = "/home/atharva/miniforge3/envs/dnacopy"

    tools {
      iaap = "/home/atharva/dev/readers/iaap-cli-linux-x64-1.1.0-sha.80d7e5b3d9c1fdfc2e99b472a90652fd3848bbc7/iaap-cli/iaap-cli"
      liftover = "/home/atharva/dev/pipeline/Atharva-Tikhe-picnac/liftover/liftOver"
      python = "python3"
      bedgraphToBw = "/home/atharva/opt/bedGraphToBigWig" 
    }

    scripts {
      illumina_extraction_script = "${projectDir}/scripts/extract_parameters.py"
      make_bed = "/home/atharva/dev/pipeline/Atharva-Tikhe-picnac/liftover/make_bed.py"
      segments = "/home/atharva/opt/PennCNV-1.0.5/example/process_bed/get_segments.R"
      gc_corr = "${projectDir}/scripts/pos_loess.R"
      overlaps = "${projectDir}/scripts/get_overlap.R"
      wave_correction = "${projectDir}/scripts/wave_correction.sh"
      genomic_wave_adj = "/home/atharva/opt/PennCNV-1.0.5/genomic_wave.pl"
      gene_scores = "${projectDir}/scripts/makePanelSegmentTable.R"
      // plot_panel  = "${projectDir}/scripts/makeSimplePlots.R"
      plot_panel = "${projectDir}/scripts/staticPlot.R"

      separate_bed = "${projectDir}/scripts/separate_LRR_BAF.sh"
      ascat = "${projectDir}/scripts/ascatDefault.R" 

      make_bedgraph = "${projectDir}/scripts/make_bedgraph.sh"
      panel_ranges = "${projectDir}/scripts/panel_gene_ranges.py"

      agg_res = "${projectDir}/scripts/aggregate_results.py"
      cna_classifier = "${projectDir}/scripts/CNA_working.py"

      gen_report = "${projectDir}/scripts/generate_report.py"
      report_template = "${projectDir}/scripts/report_template.html"
    }

    references {
      manifest = '/home/atharva/data/CytoSNP-850Kv1-2_NS550_B3.bpm'
      cluster = '/home/atharva/data/CytoSNP-850Kv1-2_NS550_B1_ClusterFile.egt'
      chain_file = '/home/atharva/dev/pipeline/Atharva-Tikhe-picnac/liftover/hg19ToHg38.over.chain.gz'
      locus_file = "${projectDir}/scripts/loci.hg38.bed"
      illumina_gc_model = "/home/atharva/opt/PennCNV-1.0.5/hg38_gcmodel/gc_model.txt"
      gene_panel = "/home/atharva/opt/panel_genes.bed"
      chrom_sizes = "/home/atharva/opt/hg38.chrom.sizes"
      genes = "/home/atharva/opt/gencode.genes.tsv"
      panel_ranges = "/home/atharva/opt/panel.ranges.tsv"

    }
    
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
conda.enabled           = true

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
}



// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

weblog {
    enabled = true
    url = "http://localhost:8000/nextflow/weblog"
}

manifest {
    name            = 'Atharva-Tikhe/picnac'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Atharva Tikhe',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/Atharva-Tikhe/picnac'
    description     = """A platform-independent analysis pipeline for calling CNAs from microarray data for Acute Lymphoblastic Leukaemia"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

mail {
    from = 'atharvatikhe22@gmail.com'
    smtp.host = 'smtp.gmail.com'
    smtp.port = "587"
    smtp.user = 'atharvatikhe22@gmail.com'
    smtp.password = 'umkg zbkp txqr poqa'
    smtp.auth = true
    smtp.starttls.enable = true
}

notification {
    enabled = true
    to = 'atharvatikhe22@gmail.com, a.tikhe2@ncl.ac.uk'
}



// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
